html, body
{
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#map
{
    height: 82%;
    width: 100%;
    
}

#ctrls
{
    margin-top: 10px;
    text-align: center;
}

#onlineState 
{
   float: right;
   margin-right: 5px;
}
